.adventages{
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 78px 0;
    &__wrapper{
        display: flex;
        margin-top: 65px;
        justify-content: space-between;
    }
    &__item{
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_icon{
        &_animation{
            &:hover{
                animation: heartbeat 1.5s ease infinite;
            }
        }
    }
    &__subtitle{
        margin-top: 38px;
        color: $text-color;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr{
        margin-top: 26px;
        text-align: center;
        color: $text-color;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;

        a{
            color: #ff0000;
            text-decoration: underline;
            transition: 0.5s all;
            &:hover{
                color: #9d0404;
            }
        }
    }
}